.gif-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  text-align: center;
}

.gif {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: black;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #000;
}

.gif img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.header,
.footer {
  background-color: white;
  color: black;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border: 1px solid #000;
}

.header {
  justify-content: space-between;
}

.gif-name {
  font-weight: bold;
}

.gif-count {
  font-style: italic;
}

.footer {
  margin-top: 10px;
}

.gif:hover {
  transform: scale(1.1); /* Add scale effect on hover */
}

@keyframes gif-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
