gif-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin: 5px 0; /* Altere os valores das margens superior e inferior conforme necessário */
}

.gif {
  margin-right: 10px;
}
  
  .gif {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: gray;
    overflow: hidden;
    cursor: pointer;
  }
  
  .header,
  .footer {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 10px;
  }
  
  .header {
    justify-content: space-between;
  }
  
  .gif-name {
    font-weight: bold;
  }
  
  .gif-count {
    font-style: italic;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }
  
  .gif:hover img {
    animation: gif-animation 1s infinite;
  }
  
  @keyframes gif-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
